{% extends 'bootstrap_index.html' %}


{% block content %}
{% if food_list_rightnow %}
	{% for food in food_list_rightnow %}
		<div class="col-lg-4">
		<img src="{{ food.foodimageurl }}" alt="Generic placeholder image" width="320" height="220" />
		<h2><img class="img-circle" style="display:inline;" src="#" alt="Chef image" width="100" height="100" />
		<div class="name" style="display:inline-block;">{{ food.foodname }}<br /><h3>chef name</h3></div></h2>
		<p>{{ food.explanation }}</p>
		<div class="blackstars"><div class="yellowstars" style="width:{% widthratio food.stars 1 20 %}%;"></div></div>({{ food.orderedcount }})
		<a class="btn btn-default" style="display:inline-block; margin-right:10px;" href="{% url 'cooks:detail' food.foodid %}" role="button">Get the food &raquo;</a>
		</div><!-- /.col-lg-4 -->
	{% endfor %}
{% endif %}
</div>
{% endblock %}

